header{
    width: 1440px;
    margin: 0 auto;
    padding: 40.89px 0  100.26px 69px;
}
nav{
    display: inline-block;    
}
.logo{
    vertical-align: middle;
    margin-right: 229px;
    }
li{
    display: inline-block;
    margin-left: 83px ;
    color: #0F5009;
    font-family: 'Nerko One', cursive;
    font-weight: 400;
    font-size: 32px;
}
 /* დამთავრდა header */

 section{
    width: 1440px;
    margin: 0 auto;
    padding: 110px 61px 154px 69px;
    background-color: #1F6519;
 }
 img{
    display: inline-block;
    margin-right: 92px;
 }
 div{
    display: inline-block;
    vertical-align: top;
color: #FFFFFF;
font-weight: 400px;
 }
 h3{
    font-size: 36px;
    font-family: 'Nerko One', cursive;
    margin-left: 140px;
 }
 p{
    width: 448px;
    height: 480px;
    margin-top: 35px;
    font-family: 'PT Serif', serif;
    font-size: 32px;
 }
 /* დამთავრდა section */